!.gitignore

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
/*
!plugins/
!themes/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
# !plugins/my-single-file-plugin.php
# !plugins/my-directory-plugin/

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
themes/*
!themes/mytheme/
